spring.data.mongodb.uri=mongodb+srv://<username>:<password>@cluster0.lucub.mongodb.net/?retryWrites=true&w=majority
spring.data.mongodb.database=registroot
spring.application.name=resgitros-ot
server.port=5555
registroot.security.token=

